.letter {
  -webkit-text-stroke: 2px black;
}

body {
  background: white;
  background-image: radial-gradient(#efefef 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}
